.submit {
  border-radius: 5px;
  background-color: #33af73;
  border-color: #103c27;
}

.submit:focus {
  outline: none;
  border-color: #33af73;
  box-shadow: 3px 3px 1px #33af73;
}

.askItem {
  border-radius: 16px;
  border: 3px solid rgba(15, 15, 15, 0.92);
  padding: 3px 0px 3px 7px;
  background-color: #103c27;
  border-color: #33af73;
}

.askItem:hover {
    border-radius: 16px;
    padding: 3px 0px 3px 7px;
    background-color: #103c27;
    border-color: #33af73;
    box-shadow: 3px 3px 1px #33af73;

}

.askItem:focus {
  outline: none;
  border-color: #33af73;
  box-shadow: 3px 3px 1px #33af73;
}
