body {
	background: #67EB60;
	font-family: GROBOLD;
}

header nav ul li {
	display: inline-block;
	font-size: 30px;
	font-family: HACKED;
	padding: 5px 15px;
	-moz-padding: 5px 15px;
	-webkit-padding: 5px 15px;
	list-style-type: none;
}


#EAR {
	width: 20%;
	padding: 0px 5px 2px 0px;
}

header nav ul{
	display: inline;
	padding: 0px 0px 0px 3px;
	-moz-padding: 0px 0px 0px 3px;
	-webkit-padding: 0px 0px 0px 3px;
	margin: 0px;
	-moz-margin: 0px;
	-webkit-margin: 0px;
}

header nav h1 {
	display: inline;
	padding: 0px 30px 0px 0px;
	-moz-padding: 0px 30px 0px 0px;
	-webkit-padding: 0px 30px 0px 0px;
	margin: 0px;
	-moz-margin: 0px;
	-webkit-margin: 0px;
	color: #245722;
	font-family: HACKED;
	font-size: 38px;
}

a {
	color: #245722;
	text-decoration: none;
}

header nav hr {
	color: black;
	background-color: black;
	padding: 0px;
	margin: 0px;
	-moz-padding: 0px;
	-moz-margin: 0px;
	-webkit-padding: 0px;
	-webkit-margin: 0px;
	border-style: solid;
	border-color: black;
}

